* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

.page-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(156, 233, 132, 0.55);
    overflow: hidden;
}

.page-container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(182, 236, 166, 0.72);
    object-fit: contain;
}

.page-container h2, .page-container p {
    color: #1b5e20;
}

h1 {
    color: #2e7d32;
    margin-bottom: 1.5rem;
}


.back-button {
    position: absolute;
    top: 10px;
    left: 50px;
    color: rgb(106, 218, 111);
    text-decoration: none;
    display: flex;
    align-items: center;
    top: 2rem;
    gap: 5px;
    font-size: 2.5rem;
    font-weight: bold;
}

.back-button:hover {
    color: rgba(18, 87, 23, 0.88);
}


@media screen and (max-width: 600px) {
    .page-container {
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        padding: 1rem;
    }

    .back-button {
        font-size: 3rem;
        left: 5px;
        top: 5px;
    }
}
